
$color_primary_pale_blue: hsl(225, 100%, 94%);
$color_primary_bright_blue:hsl(245, 75%, 52%);

$color_neutral_pale_blue:hsl(225, 100%, 98%);
$color_neutral_desaturated_blue: #7280a7;
$color_neutral_blue: hsl(223, 47%, 23%);

$font_size:16px;
$font_family: 'Red Hat Display', sans-serif;


