@import "general";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    //outline: 1px solid red;
    
}

body{
    background-image: url('/order-summary/images/pattern-background-mobile.svg');
    background-color: $color_primary_pale_blue;
    background-repeat: no-repeat;
    font-size: $font_size;
    font-family: $font_family;
    

  
   
}

.container{
   width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

}
p{
    color: $color_neutral_desaturated_blue;
}
.card{
    
    width: 100%;
    height: 31rem;
    border-radius: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &-img{
        border-radius: 30px 30px 0 0 ;
    }
    &-description{
        text-align: center;
        margin: 0 20px 0 20px;
   
        h1{
            margin: 10px 10px;
            font-weight: 700;
            color: $color_neutral_blue;
            font-size: 1.5rem;
        }
        p{
            line-height: 1.5em;
        }
        
    }

    .plan{
        margin: 10px 20px 10px 20px;
        padding: 20px;
        height: auto;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        background-color: $color_neutral_pale_blue;
        &-icon{
            width: 20%;
           
        }
        &-value{
            label{
                font-weight:700;
            }
            height: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
          

        }
        a{
            align-self: center;
            color: $color_primary_bright_blue;
            font-weight: 700;
            font-size: 0.8rem;
            &:hover{
                color:$color_hover;
            }
        }
        
    }

    .btn{
        margin: 10px 20px 0 20px ;
        padding: 10px;
        height: auto;
        border-radius: 10px;
        //font-size: 1rem;
        font-weight: 700;
        &:hover{
            cursor: pointer;
        }
        &-primary{
            background-color: $color_primary_bright_blue;
            color: #fff;
            border-color: $color_primary_bright_blue;
            /* offset-x | offset-y | blur-radius | color */
            box-shadow: 4px 12px 15px 3px #d7dffd;
            &:hover{
                background-color:$color_hover;
            }
        }
        &-secundary{
            background-color: transparent;
            border-color: transparent;
            color:  $color_neutral_desaturated_blue;
            font-weight: 900;
            &:hover{
               
                color:$color_neutral_blue;
            }
            
        }
    } 
   
    
}

@media screen and (min-width:400px){


    body{
        //outline: 1px solid red;
        background-image: url('/order-summary/images/pattern-background-desktop.svg');
        background-repeat: repeat-x;
    }
    .container{
        width: 50vw;
    }
    .card{
        width: 23rem;
        height: 35rem;
        &-description{
            text-align: center;
            margin: 0 30px 0 30px;
           
            
            
        
        }
        .plan{
      
            padding: 15px;
             &-icon{
                width: 15%;
               margin-right: -89px;
           
            }
            
            
        
        }
        .btn{
            
            padding: 18px;
            font-size: 18px;
        }
        
    }
    
}