@import "generales";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //  outline: red solid 1px;
}

body{
    font-family: $font_family_inter;
    font-size: $font_size;
    color: $color_neutral_slightly_2;
    background-color: $very_dark_blue;
}

.contenedor{
    width: 90%;
    max-width: 1400px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    font-weight: 500;
    

    .card{
        background-color: $dark_desaturated_blue;
        width: 18rem;
        max-width: 375px;
        height: auto;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 21rem;
        grid-template-rows: repeat(2,auto);
        grid-template-areas:
        	"img      "
        	"card-body";
        
        
        &-img{  
            grid-area: img; 
            width: 18rem;
            position: relative;
            overflow: hidden;
       
            &::before{
                content: '';
                opacity: .5;            
                position: absolute;
                background: #7253a2e0;
                left: 0%;
                top: 0%;
                z-index: 10;
                width: 100%;
                height: 98%;
                border-radius: 10px;
            }
            
            img{
                width: 100%;
                border-radius: 10px;
            }
            .img-2{
                display: none;
            }         
           
     
        }
        
        .card-body >div{
            width: 16rem;
        }
        .card-body{
            grid-area: card-body;
            width: 18rem;
            padding-bottom: 30px;
            display: grid;
            grid-template-columns:100%;
            grid-template-rows: repeat(5,auto);
            row-gap: 30px;
            text-align: center;
            justify-items: center;
            align-items: center;
            grid-template-areas:
            	"title      "
            	"description"
            	"item-1     "
            	"item-2     "
            	"item-3     ";
            

            .card-title{
                grid-area: title;
                h1{
                    font-size: 1.7em;
                    line-height: 1.2em;
                    color: $color_neutral_white;
                }
                strong{
                    color:$soft_violet;
                }
               

              
            }
            .card-description{
                line-height: 1.5em;
                grid-area: description;
            }
            .item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                strong{
                    font-size: 1.7em;
                    color: $color_neutral_white; ;
                }
                span{
                    margin-top: 10px;
                    text-transform: uppercase;
                    font-size: .8em;
                    font-family: $font_family_lex;
                }
                &-1{
                    grid-area: item-1;
                }

                &-2{
                    grid-area: item-2;

                }
                &-3{
                    grid-area: item-3;

                }
            }
            

        }
        
    }
}

@media screen and (min-width:875px) {
    
    .contenedor{
        flex-direction: row;
        height: 100vh;
        .card{
           
            width: 68%;
            height: 22.4rem;
            max-width: 1400px;
            grid-template-columns: 33rem auto;
            grid-template-rows: 30rem;
            grid-template-areas:
                "card-body img " ;
            &-img{
                width: 27rem;
                height: 22.4rem;
                @include border-radio-desk;

                &::before{
                    @include border-radio-desk;
                    height:  22.4rem;

                }
                img{
                    @include border-radio-desk;

                }
        
            }
            .img-1{
                    display: none;
            } 
            .img-2{
                display: block;
            }
            .card-body >div{
                width: 20rem;
            }

            .card-body{
                padding: 40px 40px 30px 82px;
                width: 27rem;
                height: 22.4rem;

                text-align: left;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(3,1fr);
                row-gap: 30px;
                justify-items: start;
                grid-template-areas:
                "title   title  title   "
                "description description description "
                "item-1  item-2  item-3 ";
                column-gap: 10px;
                .card-title{
                    h1{
                        font-size: 2em;
                    }
                }
                
                .item{
                    width: 20%;
                }
            }

            
        }

    }
   
    
}